.page__cont
  .page__hero
    background greyColor url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat center / cover

.cont
  padding 0
  .sect__title
    text-align center

.cont-inf
  padding 40px 0
  background-color #000

.cont-inf__row   
  display flex
  align-items center
  justify-content space-between

  padding 0 70px

.cont-inf__col
  display flex
  align-items center

  flex-basis 200px

.cont-inf__pic
  width 70px
  height 70px
  text-align center
  svg
    width 60% !important  
    fill whiteColor

.cont-inf__text-container
  font-size 11.7px
  color whiteColor

.cont__container
  max-width 770px
  margin 0 auto
  padding 150px 0

.cont-map__container
  position relative

  height 88vh
  &::after
    content ''
    position absolute
    top 0
    left 0
    z-index $z-index7
    display block
    width 100%
    height 100%
    background-color rgba(blackColor,.3)

.cont-map__map
  position absolute
  top 0
  left 0
  z-index $z-index6
  width 100%
  height 100%

.cont-map__modal
  position absolute
  top 35%
  left 35%
  z-index $z-index8

  width 270px
  height 172px
  padding 29px 28px 32px 28px
  
  text-align center
  color blackColor

  background-color whiteColor 
  border-radius 5px

  &::after
    content ''
    position absolute 
    left 44%
    bottom -2%
    z-index -1

    display block
    width 32px
    height 32px

    background-color inherit
    transform rotate(-45deg)

.cont-map__name
  margin-bottom 12px
  font 36px / 1 baseFont2

.cont-map__phone
  color blueColor

.cont__header
  margin-bottom 42px
  text-align center

.cont__main-title
  margin-bottom 22px

.cont-form__rows
  margin-bottom 14px

.cont-form__row
  display flex
  &:not(:last-child)
    margin-bottom 30px

.cont-form__col
  flex 1
  &:not(:last-child)
    margin-right 30px

.cont-form__label
  display block
  margin-bottom 14px
  font 14px / 1 baseFont2
  text-transform uppercase
  color blackColor

.cont-form__input
  width 100%
  padding 5px 20px
  border 1px solid greyColor

.cont-form__btn-container
  text-align center

.cont-form__btn-submit
  height 42px
  padding 0 34px
  line-height 46px

.page__cont
  .page__footer
    background greyColor url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat bottom / cover