.page__cont
  .page__hero
    background greyColor url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat center / cover

.cont
  padding 0
  .sect__title
    text-align center

.cont-inf
  padding 40px 0
  background-color #000

.cont-inf__list
  display flex
  padding 0 100px
  justify-content space-between

.cont-inf__item
  display flex
  align-items center
  flex-basis 200px

.cont-inf__text-container
  color whiteColor

.cont__container
  max-width 800px
  margin 0 auto
  padding 150px 0 150px 0

.cont__header
  margin-bottom 42px
  text-align center

.cont__main-title
  margin-bottom 22px

.cont-form__rows
  margin-bottom 14px

.cont-form__row
  display flex
  &:not(:last-child)
    margin-bottom 30px

.cont-form__col
  flex 1
  &:not(:last-child)
    margin-right 30px

.cont-form__label
  display block
  margin-bottom 14px
  font 14px / 1 baseFont2
  text-transform uppercase
  color blackColor

.cont-form__input
  width 100%
  padding 5px 20px
  border 1px solid greyColor

.cont-form__btn-container
  text-align center

.cont-form__btn-submit
  height 42px
  padding 0 34px
  line-height 46px

.page__cont
  .page__footer
    background greyColor url('img/content/contact/rob-bye-141857-unsplash_1920px.png') no-repeat bottom / cover