/* Стили формы и списка статей наследуются из _reservation */

.page__homepage
  .page__hero
    background url('img/content/homepage/annie-spratt-464747-unsplash_1920px.png') no-repeat center / cover

.homepage-about
  margin-bottom 150px

.homepage-about__row
  display flex

.homepage-about__col
  flex-basis 50%

.homepage-about__cont
  p:not(:last-child)
    margin-bottom 24px

.homepage-about__title
  margin-bottom 20px

.homepage-about__text
  margin-bottom 32px

.homepage-about__btn
  &_type_more
    height 42px
    padding 0 48px
    line-height 46px
  
.homepage-about__wrap
  position relative
  z-index $z-index1
  float right 
  width 80%
  &::before
    content ''
    position absolute
    top -25px
    left -25px
    z-index -1
    display block
    width 100%
    height 100%
    border 2px solid greyColor
  &::after
    content ''
    position absolute
    top 15px
    left 15px
    z-index 1
    display block
    width 100%
    height 100%
    border 2px solid greyColor
  
.homepage-about__pic
  position relative
  z-index $z-index2
  padding-top 480px
  background-color greyColor
  overflow hidden
  box-shadow -10px 10px 30px greyColor
  img 
    position absolute
    top 0
    left 0
    width 100%

// Feature

.homepage-feat
  margin-bottom 148px

.homepage-feat__top
  display flex
  margin-bottom 42px
  align-items center
  justify-content space-between
  .sect__title
    margin-bottom 0

.homepage-feat__menu-page
  font-family baseFont3
  [name="arrow-forward"]
    vertical-align -3px

.homepage-feat__row
  display flex

.homepage-feat__col
  flex-basis 50%

.homepage-feat__header
  margin-bottom 46px

.homepage-feat__title
  margin-bottom 19px

.homepage-feat__switch
  display flex
  align-items center
  li:not(:last-child)
    margin-right 26px
  button 
    position relative
    z-index $z-index1
    &.active
      color blackColor
      &::after
        content ''
        position absolute
        bottom 20%
        left 0
        z-index -1
        display block
        width 100%
        height 5px
        background-color: yellowColor

.homepage-feat__col:not(:last-child)
  margin-right 30px

.homepage-feat__dish:not(:last-child)
  margin-bottom 30px

.homepage-dish
  display flex
  cursor pointer
  &:hover
    box-shadow -10px 10px 30px greyColor

.homepage-dish__header
  position relative
  margin-bottom 12px
  padding-bottom 12px
  &::after
    content ''
    position absolute
    bottom 0
    left 0
    width 30px
    height 2px
    display block
    background-color yellowColor

.homepage-dish__pic
  position relative
  flex-basis 200px
  margin-right 30px
  padding-top 150px
  background-color greyColor
  overflow hidden
  img 
    position absolute
    top -50%
    left 0
    width 100%

.homepage-dish__desc
  padding 30px 0 22px 0

.homepage-dish__name
  margin-bottom 6px
  font-size 18px
  text-transform initial

.homepage-dish__price 
  font 14px / 1 baseFont2  

.homepage-dish__comp
  font-size 14px

// Form

/* !!!!!!!!!!!!!!!!!!!!! */
/* Стили формы из _reservation */
/* !!!!!!!!!!!!!!!!!!!!! */
.homepage-reserv
  margin-bottom 150px
  padding-bottom 66px

.homepage-reserv__title
  margin-bottom 30px

.homepage-reserv__reserv
 @extend .reserv__reserv

.homepage-reserv__nb
  @extend .reserv__nb

.homepage-reserv__row
  @extend .reserv__row

.homepage-reserv__col
  @extend .reserv__col

.homepage-form__rows
  @extend .reserv-form__rows

.homepage-form__row
  @extend .reserv-form__row

.homepage-form__col
  @extend .reserv-form__col

.homepage-form__label
  @extend .reserv-form__label

.homepage-form__input
  @extend .reserv-form__input

.homepage-form__submit
  @extend .reserv-form__submit

.homepage-reserv__location-container
  @extend .reserv__location-container

.homepage-reserv__location
  @extend .reserv__location

// Blog
.homepage-blog__top
  @extend .homepage-feat__top
  .sect__title
    @extend .homepage-feat__top .sect__title

.homepage-blog__blog-page
  @extend .homepage-feat__menu-page
  [name="arrow-forward"]
    vertical-align -3px

.homepage-blog__title
  margin-bottom 32px

.homepage-blog__posts
  display flex

.homepage-blog__post:not(:last-child)
  margin-right 30px

.homepage-post
  flex 1

.homepage-post__pic
  position relative
  margin-bottom 23px
  padding-top 270px
  background-color greyColor
  overflow hidden
  img 
    position absolute
    top -50%
    left 0
    width 100%

.homepage-post__name
  margin 9px 0 24px 0
  font-size 18px
  text-transform initial

.homepage-post__text
  margin-bottom 26px

.homepage-post__continue 
  font 14px / 1 baseFont2
  letter-spacing .5px
  text-transform uppercase
  color blackColor
  ion-icon
    margin-left 6px
    vertical-align -1px

.page__homepage
  .page__footer
    background url('img/content/homepage/annie-spratt-464747-unsplash_1920px.png') no-repeat bottom / cover