.page__homepage
  .page__hero
    background url('img/content/homepage/annie-spratt-464747-unsplash_1920px.png') no-repeat center / cover

.homepage-about
  margin-bottom 150px

.homepage-about__row
  display flex

.homepage-about__col
  flex-basis 50%

.homepage-about__cont
  p:not(:last-child)
    margin-bottom 24px

.homepage-about__title
  margin-bottom 20px

.homepage-about__text
  margin-bottom 32px

.homepage-about__btn
  &_type_more
    height 42px
    padding 0 48px
    line-height 46px
  
.homepage-about__wrap
  position relative
  z-index $z-index1
  float right 
  width 80%
  &::before
    content ''
    position absolute
    top -25px
    left -25px
    z-index -1
    display block
    width 100%
    height 100%
    border 2px solid greyColor
  &::after
    content ''
    position absolute
    top 15px
    left 15px
    z-index 1
    display block
    width 100%
    height 100%
    border 2px solid greyColor
  
.homepage-about__pic
  position relative
  z-index $z-index2
  padding-top 480px
  background-color greyColor
  overflow hidden
  box-shadow -10px 10px 30px greyColor
  img 
    position absolute
    top 0
    left 0
    width 100%

// Feature

.homepage-feat
  margin-bottom 148px

.homepage-feat__top
  display flex
  margin-bottom 42px
  align-items center
  justify-content space-between
  .sect__title
    margin-bottom 0

.homepage-feat__menu-page
  font-family baseFont3
  [name="arrow-forward"]
    vertical-align -3px

.homepage-feat__row
  display flex

.homepage-feat__col
  flex-basis 50%

.homepage-feat__header
  margin-bottom 46px

.homepage-feat__title
  margin-bottom 19px

.homepage-feat__switch
  display flex
  align-items center
  li:not(:last-child)
    margin-right 26px
  button 
    position relative
    z-index $z-index1
    &.active
      color blackColor
      &::after
        content ''
        position absolute
        bottom 20%
        left 0
        z-index -1
        display block
        width 100%
        height 5px
        background-color: yellowColor

.homepage-feat__col:not(:last-child)
  margin-right 30px

.homepage-feat__dish:not(:last-child)
  margin-bottom 30px

.homepage-dish
  display flex
  cursor pointer
  &:hover
    box-shadow -10px 10px 30px greyColor

.homepage-dish__header
  position relative
  margin-bottom 12px
  padding-bottom 12px
  &::after
    content ''
    position absolute
    bottom 0
    left 0
    width 30px
    height 2px
    display block
    background-color yellowColor

.homepage-dish__pic
  position relative
  flex-basis 200px
  margin-right 30px
  padding-top 150px
  background-color greyColor
  overflow hidden
  img 
    position absolute
    top -50%
    left 0
    width 100%

.homepage-dish__desc
  padding 30px 0 22px 0

.homepage-dish__name
  margin-bottom 6px
  font-size 18px
  text-transform initial

.homepage-dish__price 
  font 14px / 1 baseFont2  

.homepage-dish__comp
  font-size 14px

// Form
.homepage-reserv
  margin-bottom 150px
  padding-bottom 66px

.homepage-reserv__title
  margin-bottom 30px

.homepage-reserv__reserv
  position relative
  z-index: $z-index1
  padding 63px 72px 70px 72px
  background greyColor url('img/content/homepage/nick-karvounis-463853-unsplash_form.png') no-repeat center / cover
  &::after
    content ''
    position absolute
    top 0
    left 0
    z-index -1 
    width 100%
    height 100%
    background-color rgba(blackColor,.7)

.homepage-reserv__nb
  margin-bottom 22px
  color whiteColor
  span 
    color yellowColor

.homepage-reserv__row
  display flex

.homepage-reserv__col
  flex-basis 50%
  &:not(:last-child)
    padding-right 54px

.homepage-form__rows
  margin-bottom 31px

.homepage-form__row
  display flex
  &:not(:last-child)
    margin-bottom 30px

.homepage-form__col
  float left
  &_size_md
    width 50%
    @supports(display flex)
      flex-basis 50%
  &_size_lg
    width 100%
    @supports(display flex)
      flex-basis 100%
  &:not(:last-child)
      padding-right 10px

.homepage-form__label
  display block
  margin-bottom 10px
  font 14px / 1 baseFont2
  text-transform uppercase
  color whiteColor

.homepage-form__input
  width 100%
  padding 7px 20px
  background-color whiteColor

.homepage-form__submit
  height 39px
  padding 0 36px
  font-size 12px
  line-height 41px

.homepage-reserv__map
  position relative

.homepage-reserv__pic
  position absolute
  top 6px
  left 3%
  width 97.5%
  padding-top 408px
  img  
    position absolute
    top 0
    left 0
    width 100%
    height 100%

// Blog
.homepage-blog__top
  @extend .homepage-feat__top
  .sect__title
    @extend .homepage-feat__top .sect__title

.homepage-blog__blog-page
  @extend .homepage-feat__menu-page
  [name="arrow-forward"]
    vertical-align -3px

.homepage-blog__title
  margin-bottom 32px

.homepage-blog__posts
  display flex

.homepage-blog__post:not(:last-child)
  margin-right 30px

.homepage-post
  flex 1

.homepage-post__pic
  position relative
  margin-bottom 23px
  padding-top 270px
  background-color greyColor
  overflow hidden
  img 
    position absolute
    top -50%
    left 0
    width 100%

.homepage-post__name
  margin 9px 0 24px 0
  font-size 18px
  text-transform initial

.homepage-post__text
  margin-bottom 26px

.homepage-post__continue 
  font 14px / 1 baseFont2
  letter-spacing .5px
  text-transform uppercase
  color blackColor
  ion-icon
    margin-left 6px
    vertical-align -1px

.page__homepage
  .page__footer
    background url('img/content/homepage/annie-spratt-464747-unsplash_1920px.png') no-repeat bottom / cover