.page__reserv
  .page__hero
    background greyColor url('img/content/reserv/nick-karvounis-463853-unsplash_form.png') no-repeat top / cover

.reserv
  padding 150px 0 170px 0

.reserv__reserv
  padding 150px 0 170px 0

.reserv__title
  margin-bottom 50px
  text-align center
  span 
    position relative
    z-index $z-index1

    display inline-block
    &::after
      content ''
      position absolute
      bottom 20%
      left 0
      z-index -1
      display block
      width 100%
      height 5px
      background-color: yellowColor

.reserv__main-title
  margin-bottom 44px
  text-align center

.reserv__reserv
  position relative
  z-index: $z-index1

  padding 63px 72px 71px 72px
  background greyColor url('img/content/reserv/nick-karvounis-463853-unsplash_form.png') no-repeat center / cover
  &::after
    content ''
    position absolute
    top 0
    left 0
    z-index -1 
    width 100%
    height 100%
    background-color rgba(blackColor,.7)

.reserv__row
  display flex

.reserv__col
  flex-basis 50%
  &:not(:last-child)
    padding-right 54px

.reserv__nb
  margin-bottom 22px
  padding-right 42px
  color whiteColor
  span 
    color yellowColor

/* !!!!!!!!!!!!!!!!!!!!! */
/* Стили формы наследуются в _homepage */
/* !!!!!!!!!!!!!!!!!!!!! */

.reserv-form__rows
  margin-bottom 29px

.reserv-form__row
  display flex
  &:not(:last-child)
    @extend .reserv-form__rows

.reserv-form__col
  &_size_lg
    flex-basis 100%
  &_size_md
    flex-basis 50%
    &:not(:last-child)
      margin-right 10px

.reserv-form__label
  display block
  margin-bottom 10px
  font 14px / 1 baseFont2
  text-transform uppercase
  color whiteColor

.reserv-form__input
  width 100%
  padding 8px 20px
  background-color whiteColor

.reserv-form__submit
  height 39px
  padding 0 36px
  font-size 12px
  line-height 41px

.reserv__location-container
  position relative

.reserv__location
  position absolute
  top 6px
  left 3%
  width 97.5%
  img  
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.page__reserv
  .page__footer
    background greyColor url('img/content/reserv/nick-karvounis-463853-unsplash_form.png') no-repeat bottom / cover