@import 'base/_typography.styl'
@import 'base/_reset.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

.page__hero
  height 100vh

@import '_homepage.styl'

@import 'components/_buttons.styl'
@import 'components/_header.styl'
@import 'components/_logo.styl'
@import 'components/_nav.styl'
@import 'components/_social.styl'
@import 'components/_footer.styl'