@import 'base/_typography.styl'
@import 'base/_reset.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

@import 'components/_buttons.styl'

.page__hero
  position relative
  z-index $z-index1
  display flex
  min-height 100vh
  flex-direction column
  justify-content space-between
  .container
      text-align center
  &::after
    position absolute
    top 0
    left 0 
    z-index -1
    display block
    width 100%
    height 100%
    background-color rgba(blackColor,.3)
    content ''

.page__headline
  margin-bottom 24px
  font 70px / 1 baseFontTitle
  color whiteColor
  span 
    font 120px / 110px greatFont 
    text-transform lowercase
    color yellowColor

.page__inf
  padding 30px 50px
  &_align_center
    text-align center

.page__phone
  margin-bottom 12px
  font 14px / 1 baseFont2
  letter-spacing .6px
  text-transform uppercase
  color whiteColor
  span 
    display inline-block
    margin-left 6px
    color yellowColor

.page__main
  padding 150px 0 142px 0

@import '_reservation.styl'
@import '_homepage.styl'
@import '_team.styl'
@import '_menu-list.styl'
@import '_detail.styl'
@import '_contact.styl'

@import 'components/_header.styl'
@import 'components/_logo.styl'
@import 'components/_nav.styl'
@import 'components/_social.styl'
@import 'components/_footer.styl'