footer
  include _logo

  .footer__row
    .footer__col
      h6.footer__name Address
      ul.footer__address
        li
          | 16/8 W 19th St, Chelsea
        li
          | Manhattan, NY 10001
    .footer__col 
      h6.footer__name Open Time
      ul.footer__open-time
        li
          | Mon-Fri: 8:00 - 22:00
        li
          | Sat-Sun: 9:00 - 21:00
    .footer__col
      h6.footer__name Phone
      ul.footer__phone
        li
          | 212-342-67382
    .footer__col
      h6.footer__name Email
      ul.footer__email
        li
          | reservation@chew.com
        li
          | info@chew.com

  include _social