nav.nav
  ul
    li
      a(href="homepage.html") Home
    li
      a(href="menu-list.html") Menus
    li
      a(href="javascript:void(0);") Reservation
    li
      a(href="javascript:void(0);") Gallery
    li
      a(href="javascript:void(0);") Blog
    li
      a(href="javascript:void(0);") Pages
    li
      a(href="contact.html") Contact