ul.social
  li
    a(href="javascript:void(0);")
      svg
        use(xlink:href="sprite-svg.svg#_ionicons_svg_logo-facebook")
  li
    a(href="javascript:void(0);")
      svg
        use(xlink:href="sprite-svg.svg#_ionicons_svg_logo-twitter")
  li
    a(href="javascript:void(0);")
      svg
        use(xlink:href="sprite-svg.svg#_ionicons_svg_logo-foursquare")