ul.social
  li
    a(href="javascript:void(0);")
      ion-icon(name="logo-facebook")
  li
    a(href="javascript:void(0);")
      ion-icon(name="logo-twitter")
  li
    a(href="javascript:void(0);")
      ion-icon(name="logo-foursquare")