.btn
  display inline-block
  font 14px baseFont2
  text-transform uppercase
  color whiteColor
  border-radius 25px
  &_type_reservation
    height 40px
    padding 0 32px
    line-height 40px
    border 2px solid whiteColor 
    &:hover
      color yellowColor 
      border-color yellowColor
  &_type_more
    height 50px
    padding 0 53px
    line-height 50px
    background-color orangeColor 
    