.btn
  display inline-block
  font 14px baseFont2
  text-transform uppercase
  color whiteColor
  border-radius 25px
  &_type_transparent
    height 40px
    padding 0 32px
    line-height 40px
    letter-spacing .5px
    border 2px solid whiteColor 
    &:hover
      color yellowColor 
      border-color yellowColor
  &_type_orange
    height 50px
    padding 0 52px
    line-height 54px
    letter-spacing 1.5px
    background-color orangeColor
    