.btn
  display inline-block
  &_type_reservation
    height 40px
    padding 0 32px
    font 14px / 40px baseFont2
    text-transform uppercase
    color whiteColor
    border 2px solid whiteColor 
    border-radius 25px
    &:hover
      color yellowColor 
      border-color yellowColor
    