footer
  display flex
  align-items flex-start
  justify-content space-between
  padding 100px 50px
  background-color #393a3f

.footer__row
  display flex

.footer__col
  .footer__name
    margin-bottom 26px
    font 12px / 1 baseFontTitle
    color greyColor
  li
    font-size 12px
    color whiteColor
  &:not(:last-child)
    margin-right 156px
