.social
  li   
    display inline-block 
    &:not(:last-child)
      margin-right 6px

  a
    display block
    width 30px
    height 30px
    text-align center
    line-height 36px
    background-color greyColor
    border-radius 50%
    svg
      width 47% !important 
      height 47% !important 
      fill whiteColor
    &:hover
      background-color yellowColor
      svg
        fill blackColor