.social
  display flex
  align-items center
  li    
    &:not(:last-child)
      margin-right 10px

  a
    display block
    width 30px
    height 30px
    text-align center
    line-height 36px
    color whiteColor
    background-color greyColor
    border-radius 50%
    &:hover
      background-color yellowColor